.contact_container {
    display:grid;
    place-items:center;
}

.contact_wrapper {
 width:fit-content;
 display: flex;
 gap:2rem;

}

.contact_wrapper  a {
   background:var(--color-primary);
   font-size:2rem;
   border:2px solid transparent;
   transition:var(--transition);
   padding:2rem;
   border-radius:1.5rem;

   
   }

   .contact_wrapper a:hover {
   background:transparent;
   border-color:var(--color-gray-100);
   
   }

   /* media queries (for small screens)  should be max-width: 600px but as desktop browser does not contract that much 700 was typed in  */
@media screen and (max-width: 700px){ 
    .contact_wrapper {
         gap:1.5rem;
       
       }

       .contact_wrapper  a {
        padding:1rem;
        font-size:1.2rem;
        border-radius:1rem;
     
        
        }
     
}
   